// Pass css to element on Home.tsx file using @apply
#shop {
    @apply flex;
    @apply justify-center;
    @apply mt-[120px] md:mt-[96px] xs:mt-[40px];

    .cards-container {
        @apply flex items-end;
        @apply flex-row xs:flex-col;
        @apply w-[70%] xl:w-[80%] lg:w-[90%];

        .card {
            @apply relative;
            @apply flex flex-col items-center;
            @apply w-[30%] xl:w-[31.5%] lg:w-[33%] xs:w-full;
            @apply h-[284px] lg:h-[217px];

            img {
                @apply relative z-[2];
                @apply xs:mt-[10px];
                @apply w-[60%] xs:w-[40%] sm:w-[90%] md:w-[60%] lg:w-[50%] xl:w-[80%];
            }

            div {
                @apply bg-F1F1F1 rounded-[8px] absolute bottom-0;
                @apply flex justify-end items-center flex-col;
                @apply w-full;
                @apply h-[204px] lg:h-[165px];
                
                .nav-title {
                    @apply mb-[17px] cursor-pointer z-[3];
                }
                p:not(.nav-title) {
                    @apply flex items-center mb-[22px] z-[3];
                }
            }
        }
    }
}

#speaker-short {
    margin-top: 48px;
    & > div {
        background: url(../assets/home/desktop/image-speaker-zx7.jpg) center right no-repeat;
        background-color: #CFCFCF;
        background-blend-mode: darken;
        background-size: auto 100%;
        border-radius: 8px;
    }
}
@media only screen and (max-width: theme('screens.md.max')) {
    #speaker-short {
        & > div {
            background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
        }
        .button-2 {
            border-color: theme('colors.000000');
            background-color: transparent;
            color: theme('colors.000000');
        }
    }
}
@media only screen and (max-width: theme('screens.xs.max')) {
    #speaker-short {
        & > div {
            background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
        }
    }
}